body{
    background-image: url("architecture-columns-dark-1874636.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font: 500 18px/1.75 'Barlow', sans-serif;
    color: #e0e3e6;
	padding: 0 8px;
}
h1.center{
    text-align: center;
    width:100%;
}

img.size-adjust {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4px;
    width:75%;
}
img.inline-list{
    margin-bottom:4px;
    width:100%;
}
div.image-grid{
    display: inline-grid;
    grid-column-start:0;
    grid-column-end:3;
}

video.size-adjust {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:4px;
    width:100%;
}
div.undervid{
    font: 500 15px/1.75 'Barlow', sans-serif;
}

table, th, td{
    border: 1px solid #e0e3e6;
}